# ======================== Elasticsearch Configuration =========================
#
# NOTE: Elasticsearch comes with reasonable defaults for most settings.
#       Before you set out to tweak and tune the configuration, make sure you
#       understand what you are trying to accomplish and the consequences.
#
# The primary way of configuring a node is via this file. This template lists
# the most important settings you may want to configure for a production cluster.
#
# Please consult the documentation for further information on configuration options:
# https://www.elastic.co/guide/en/elasticsearch/reference/index.html
#
# ---------------------------------- Cluster -----------------------------------
#
cluster.name: {{ cluster_name }}
#
# ------------------------------------ Node ------------------------------------
#
node.name: {{ node.name }}
#
node.attr.rack: {{ node.rack | default('r1') }}
#
# ----------------------------------- Paths ------------------------------------
#
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
#
# ----------------------------------- Memory -----------------------------------
#
#bootstrap.memory_lock: true
#
# ---------------------------------- Network -----------------------------------
#
network.host: {{ node.ip }}
#
# Assign dynamic transport and http ports
transport.port: 93{{ node.ip.split('.')[-1][-2:] }}
http.port: 92{{ node.ip.split('.')[-1][-2:] }}
#
# --------------------------------- Discovery ----------------------------------
#
discovery.seed_hosts: [{% for host in master_ips %}"{{ host }}:93{{ host.split('.')[-1][-2:] }}"{% if not loop.last %}, {% endif %}{% endfor %}]
#
cluster.initial_master_nodes: {% for n in master_names %}
  - {{ n }}{% endfor %}
#
# ---------------------------------- Various -----------------------------------
#
#action.destructive_requires_name: false

#----------------------- BEGIN SECURITY AUTO CONFIGURATION -----------------------
#
xpack.security.enabled: true


{% if enable_http %}
xpack.security.http.ssl:
  enabled: true
  verification_mode: certificate
  certificate: certs/{{ node.name }}.crt
  key: certs/{{ node.name }}.key
  certificate_authorities:
    - certs/ca.pem
{% endif %}

{% if enable_ssl %}
xpack.security.transport.ssl:
  enabled: true
  verification_mode: certificate
  certificate: certs/{{ node.name }}.crt
  key: certs/{{ node.name }}.key
  certificate_authorities:
    - certs/ca.pem
{% endif %}
#----------------------- END SECURITY AUTO CONFIGURATION -------------------------
